@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap'); */

/* .nixie-one-regular {
  font-family: "Nixie One", system-ui;
  font-weight: 400;
  font-style: normal;
} */
